@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    overflow-x:hidden ;
    
}
.header{
    display: flex;
    padding: 10px;
    width: 100%;
}
.header_left{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.navigation{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;

}
.logo img{
    border-radius: 10px;
    width: 100px;
}
.heading{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Righteous';
   
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  /* .dropdown1 {
    top: 45px;
    right: 165px;
    position: relative;
    display: inline-block;
  }
  .dropdown2{
    top: 45px;
    right: 135px;
    position: relative;
    display: inline-block;
  } */

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(184, 85, 85, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(129, 20, 20);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main-left{
    margin-left: 140px;
    font-family: 'Righteous';
    margin-top: 25px;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: azure;
}
.main-left h2{
    letter-spacing: 3px;
}
.main-left h3{
    letter-spacing: 2px;
}
.main-left h4{
  letter-spacing: 1px;
}
.main-left button{
  background-color:#3498DB ;
  font-size: 25px;
  color: white;
    
    
  border: none;
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: 1px;
}

